.header {
  display: grid;
  grid-template-columns: 100px 50px;
  grid-template-rows: 50px;
  align-items: center;
  justify-content: space-between;
  margin: 1px 20px 1px 20px;
}

.container1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  color: white;
  font-size: 20px;
  width: 100%;
  height: 100%;
  background: #0f2027; /* fallback for old browsers */
  background: linear-gradient(to bottom, #2c5364, #203a43, #0f2027);
}

.total {
  display: grid;
  grid-template-columns: 100px 150px;
  align-items: center;
  justify-content: space-between;
  margin: 1px 20px 10px 20px;
}
