.card-container {
  width: 300px;
  overflow: hidden;
  box-shadow: 0px 0px 15px -5px;
  transition: 0.3s;
  animation: ease-in;
  background-color: rgba(255, 255, 255, 0.194);
  border: 1px solid;
  border-radius: 17px;
}

.card-container:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 15px 0px;
}

.image_container img {
  overflow: hidden;
  width: 300px;
  height: 200px;
}

.card-content {
  margin: 0.5rem;
  margin-top: 0.3rem;
}

.h3,
p {
  margin: 0;
  padding: 0;
}

.card-title {
  margin-bottom: 0.5rem;
  margin-top: 0.75rem;
  margin-left: 10px;
  text-align: left;
  font-weight: bold;
}

.da {
  margin-left: 100px;
}

.group {
  display: flex;
}

.btnicon {
  margin-left: 120px;
  margin-right: 10px;
  margin-top: 0px;
  background-color: inherit;
  width: 20%;
}

.btnicon:hover {
  background-color: rgba(156, 142, 142, 0.194);
  color: white;
}

.card-body {
  text-align: left;
  font-size: x-large;
  margin-top: 10px;
  margin-left: 10px;
}

.ratingstar {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 10px;
  font-weight: bold;
}

.discount {
  margin-left: 10px;
  margin-top: 10px;
  text-decoration: line-through;
}
