@tailwind base;
@tailwind components;
@tailwind utilities;

.buttontopics {
  color: white;
  font-weight: bold;
  margin-left: 20px;
  width: 20px;
}

.photo-grid-container {
  margin: 0px auto;
  margin-top: 100px;
  max-width: 1200px;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 50px;
  row-gap: 100px;
}

@media only screen and (max-width: 480px) and (min-width: 320px) {
  .photo-grid-container {
    grid-template-columns: 1fr;
    margin: 50px 50px;
    max-width: 800px;
  }
}

.conti {
  display: grid;
  justify-content: center;
  grid-template-columns: 100px 70px 100px 100px;
}

@media only screen and (max-width: 480px) and (min-width: 320px) {
  .conti {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background: #0f2027; /* fallback for old browsers */
  background: linear-gradient(
    to bottom,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.main {
  text-align: center;
  justify-content: center;
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  padding-top: 90px;
  padding-bottom: 100px;
  background-color: black;
  background-image: url("./image/login2.png");
}
.sub-main {
  display: flex;
  justify-content: center;
  height: 550px;
  width: 25%;
  padding-top: 30px;
  border-radius: 60px;
  background-color: rgba(255, 255, 255, 0.152);
}
.imgs {
  padding-top: 20px;
  justify-content: center;
  display: flex;
}
.container-image {
  background-color: rgba(223, 221, 221, 0.705);
  border-radius: 150px;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 115px;
  width: 115px;
  margin-bottom: 20px;
}
.profile {
  height: 100px;
  width: 100px;
  border-radius: 130px;
}

input {
  width: 300px;
  height: 50px;
  border-radius: 60px;
  box-shadow: inset 0px 0px 25px 0px #888;
  border: none;
  outline: none;
  background-color: #fff;
}

.email {
  height: 25px;
  width: 25px;
  position: absolute;
  padding: 14px 0 0 25px;
}

.name {
  padding-left: 15px;
  font-size: 20px;
}
.second-input {
  padding-top: 20px;
}

.button {
  width: 300px;
  height: 50px;
  border-radius: 60px;
  background-color: grey;
  color: white;
  font-size: 25px;
  border: none;
  margin-top: 20px;
}
.login-button {
  padding-top: 25px;
}

.iconemail {
  width: 25px;
  margin-left: 10px;
  margin-top: 10px;
}

.error {
  color: red;
  padding-top: 10px;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: black;
}

body::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 20px;
  border: 3px solid rgb(130, 10, 10);
}

.button-cart {
  position: relative;
  color: white;
  font-weight: bold;
  font-weight: 800;
}

.button-cart:before {
  content: attr(data-tooltip);
  position: absolute;
  top: -3px;
  right: -0px;
  background: red;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
